.nav {
    width: 100%;
    height: 76px;
    background: #525252;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 16px; align-items: center;
    align-content: center;    padding-left: 20px;
}

.nav-content {
    display: flex;
    justify-content: flex-end;
}

.nav-module {
    display: flex;
    justify-content: flex-start;
    height: 76px;
    line-height: 76px;
}

.nav-module-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    line-height: 76px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-module-box img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nav-user-help {
    width: 235px;
    height: 76px;
    line-height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin-left: 20px;
}

.nav-user {
    width: 135px;
    font-size: 13px;
    display: flex;
    align-items: center;
    align-content: center;
}

.nav-user img:first-child {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nav-user img:last-child {
    width: 10px;
    height: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.nav-help {
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.nav-help img {
    width: 18px;
    height: 18px;
    margin-left: 14px;
    margin-right: 8px;
}

.line {
    width: 1px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: 31.5px;
    right: 83px;
}

.home {
    height: -moz-calc(100% - 76px);
    height: -webkit-calc(100% - 76px);
    height: calc(100% - 76px);
    padding: 20px 0;
    display: flex;
}

.aside {
    width: 185px;
    height: 100%;
    background: #fff;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-top: 5px solid #10c55b;
    box-sizing: border-box;
    margin-right: 20px;
}

.aside-box {
    height: 70px;
    border-bottom: 1px solid #f1f1f1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #555;
}

.active {
    color: #10c55b;
    font-weight: bold;
}

.aside-box-text {
    margin-left: 27px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.aside-box img:first-child {

    margin-right: 9px;
}

.aside-box img:last-child {
    text-align: right;
    width: 4px;
    height: 8px;
    margin-right: 21px;
}

.content {
    height: 100%;
    width: -moz-calc(100% - 205px);
    width: -webkit-calc(100% - 205px);
    width: calc(100% - 205px);
    box-sizing: border-box;
    color: #555;
}

.content .TimeData {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.content .TimeData span {
    font-size: 12px;
}

.content .TimeData a {
    font-size: 12px;
}

.content .TimeData .pitch {
    font-size: 16px;
    font-weight: bold;
}

.segmentation {
    margin: 0px 5px;
}

.content .currentData {
    width: 100%;
    display: flex;
    height: 110px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    padding: 0px 70px;
}

.content .currentData .currentDataFrame {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90px;
    border-radius: 100%;
    font-size: 40px;
    border: 5px solid;
    position: relative;
}

.content .currentData .currentDataFrame span:nth-child(2) {
    position: absolute;
    font-size: 20px;
    top: 88px;
}

.content .currentData .currentDataFrame:nth-child(1) {
    border-left-color: #f93c76;
    color: #f93c76;
}

.content .currentData .currentDataFrame:nth-child(2) {
    border-left-color: #53bfd1;
    color: #53bfd1;
}

.content .currentData .currentDataFrame:nth-child(3) {
    border-left-color: #53d16b;
    color: #53d16b;
}

.content .currentData .currentDataFrame:nth-child(4) {
    border-left-color: #5187e0;
    color: #5187e0;
}

.content .currentData .currentDataFrame:nth-child(5) {
    border-left-color: #8051e0;
    color: #8051e0;
}

.content .currentData .currentDataFrame:nth-child(6) {
    border-left-color: #ff7c35;
    color: #ff7c35;
}

.DataShow {
    background-color: #fff;
    width: 100%;
    padding: 10px 30px 20px 30px;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.contentData {
    margin-top: 10px;
    background-color: #fff;
    width: 100%;
    height: calc(100% - 210px);
}

.contentData .contentDataFunction {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    padding: 0px 30px;
}

.contentData .contentDataFunction .num {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contentData .contentDataFunction .num span {
}

.contentData .contentDataFunction .num .num-box {
    width: 150px;
    height: 20px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    padding: 0px 3px;
    border-radius: 5px;
}

.contentData .contentDataFunction .num .num-box .num-img {
    background-color: #14d664;
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

.contentData .contentDataFunction .function a {
    margin: 0px 5px;
}

.contentData .contentDataCondition {
    padding: 10px 30px 20px 30px;
    font-size: 14px;
    height: 230px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.contentData .contentDataCondition .ConditionTime {
    width: 370px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.contentData .contentDataCondition .ConditionTime img {
    width: 20px;
    height: 20px;
}

.contentData .contentDataCondition .ConditionTime input {
    width: 130px;
    height: 30px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding-left: 10px;
}

.contentData .contentDataCondition .ConditionTime span {
}

.contentData .contentDataCondition .ConditionState {
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.contentData .contentDataCondition .ConditionState label {
    width: 70px;
    display: flex;
    align-items: center;
    align-content: center;
}

.contentData .contentDataCondition .ConditionType {
    width: 491px;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
}

.contentData .contentDataCondition .ConditionType label {
    width: 70px;
    display: flex;
    align-items: center;
    align-content: center;
}

.contentData .contentDataCondition .ConditionCompany {
    width: 491px;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
}

.contentData .contentDataCondition .ConditionCompany label {
    width: 70px;
    display: flex;
    align-items: center;
    align-content: center;
}

.contentData .contentDataCondition .ConditionCompany input[type="text"] {
    width: 210px;
    height: 30px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding-left: 10px;
    margin-right: 15px;
}

.contentDataTableFuntion {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    padding-left: 30px;
}

.contentDataTableBtn span {
}

.contentDataTableBtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.separate {
    margin: 0px 10px;

}

.contentDataTableBtn img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.contentDataTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 280px);

}

.contentDataTableTitle {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    height: calc(100% - 50px);
    flex-direction: column;
}

.contentDataTableList {
    height: 40px;
    background-color: #ededed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contentDataTableList ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.contentDataTableList ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 8.33%;
    height: 100%;
}

.contentDataTableList li:nth-child(1) {
    width: 3%;
}

.contentDataTableList li:nth-child(2) {
    width: 13.33%;
}

.contentDataTablecontent {

    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: auto;
}

.contentDataTablecontent ul {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #ddd;
}

.contentDataTablecontent li:nth-child(1) {
    width: 3%;
}

.contentDataTablecontent li:nth-child(2) {
    width: 13.33%;
}

.contentDataTablecontent li {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 8.33%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contentDataTablecontent li img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}