/* CSS reset */
body, html { 
	width: 100%; 
	height: 100%;
	overflow-x:hidden;
}
body {
	font: 14px/20px '\5FAE\8F6F\96C5\9ED1', Verdana, Arial, Helvetica, sans-serif;
	color: #555;
	background-color: transparent;
}
body, div, dl, dt, dd, ol, ul, li, 
h1, h2, h3, h4, h5, h6, 
pre, code, form, fieldset, legend, 
input, textarea, p, blockquote, 
th, td, a, span, i, b {
	padding: 0; 
	margin: 0;
}
div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, 
th, td, a, span, i, em, b, p, label { 
	word-break: break-all; 
	word-wrap: break-word;
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust: none; }
table { 
	border-collapse: collapse; 
	border-spacing: 0;
}
*, :focus { outline: none; }
ol, ul, li { list-style: none outside; }
address, caption, cite, code, dfn, em, var { 
	font-weight: normal;
	font-style: normal; 
}
caption, th { text-align: left; }
q:before, q:after { content: ""; }
abbr, acronym, fieldset, img { 
	font-variant: normal; 
	border: 0; 
}
abbr { cursor: help; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select { 
	font-family: '\5FAE\8F6F\96C5\9ED1'; 
	font-size: 14px; 
	font-weight: inherit; 
	color: #555;
}
input:focus, textarea:focus { color: #2f4368; }
input:-ms-clear { display: none; }
textarea { 
	border: 1px solid #dedede;
	resize: none;
}
button { font-family: '\5FAE\8F6F\96C5\9ED1'; }
button::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner { 
	padding: 0; 
	border: none;
}
input::-ms-clear { display: none; }
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { 
	display: table; 
	line-height: 0; 
	content: "";
}
.clearfix:after { clear: both; }
a, a:hover {
	color: #555;
	text-decoration: none;
}

.dis-n { display: none; }
.dis-b { display: block !important; }
.dis-ib { 
	display: -moz-inline-block;
	display: inline-block; 
	*display: inline;
	*zoom: 1; 
}
.fl { 
	float: left; 
	*display: inline;
}
.fr { 
	float: right !important; 
	*display: inline;
}
.ta-l { text-align: left !important; }
.ta-c { text-align: center !important; }
.ta-r { text-align: right !important; }
.nobd { border: 0 !important; }
.nobg { background: none !important; }
.ps-r { position: relative; }
.of-auto { overflow: auto; }

.bg-gray { background-color: #f5f5f5; }
.c-red { color: #ed3a3a !important; }
.c-blue { color: #37c !important; }
.c-blue2 { color: #346ed0 !important; }
.c-green { color: #3ab862 !important; }
.c-orange { color: #f98700 !important; }

.fs-18 { font-size: 18px !important; margin-left:10px;}

.w38 { width: 38px !important; }
.w48 { width: 48px !important; }
.w120 { width: 115px !important; }
.per15 { width: 15% !important; }
.per18 { width: 18% !important; }
.per20 { width: 20% !important; }
.per25 { width: 25% !important; }
.per66 { width: 68% !important; }
.per72 { width: 72% !important; }
.per100 { width: 100% !important; }

.pt5 { padding-top: 5px; }
.pt20 { padding-top: 20px !important; }
.pb0 { padding-bottom: 0 !important; }

.mr10 { margin-right: 10px; }
.ml15 { margin-left: 15px; }
.ml30 { margin-left: 30px; }
.ml40 { margin-left: 40px; }
.ml50 { margin-left: 50px; }



